body{
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size: 16px;
}


#game{
	/*width: 802px;
	height: 580px;*/
	margin-left: auto;
	margin-right: auto;
	
}

#game_info, #game_control{
	height: 30px;
	padding: 20px;
	background-color: #fff;
	color: #000;
	width: 850px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#game_info label, #game_control label{
	margin-left: 15px;
	margin-right: 5px;
	vertical-align: bottom;
}

#game_info span, #game_control span, #game_control a{
	vertical-align: bottom;
}

#game_info select, #game_control select {
	font-size: 10px;
	padding: 0px;
	height: 20px;
	/*border-width: 1px;
	border-style:solid;
	border-color: #666666;
	border-radius: 2px;*/
}

#game_info #carregar{
	display: inline-block;
	height: 25px;
	font-size: 10px;
	margin-left: 20px;
	padding-left: 5px;
	padding-right: 5px;
	width: 80px;
}

#game_info label{
	font-weight: bold;
}

#game_info span{
	/*display: inline-block;*/
	margin-right: 20px;
	font-family: sans-serif;
}

#game_grid{
	/*height: 500px;
	width: 500px;*/
	border: 1px solid #000;
	background-color: #ccc;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#file_estado_inicial{
	display: none;
	
}


#game_control a{
	display:inline-block;
	margin-left: 5px;
	margin-right: 5px;
	width: 60px;
	text-decoration: none;
	font-weight: bold;
	text-align: left;
}

#game_control a:hover{
	color: #cccccc;
}

#game_control #geracoes{
	width: 30px;
	display: inline-block;
	text-align:left;
	font-family: sans-serif;
}

#game_control label{
	font-weight: bold;	
}

#celula,#estado_inicial{
	display: none;
}
